:root {
    --white-: ghostwhite;
    --black-: rgb(18, 18, 20);
    --pastelindigo: rgb(216, 168, 250);
    --cornflower: rgb(151, 151, 250);
    --ff-primary: 'Kaisei HarunoUmi', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black-);
    color: var(--white-);
    margin: 0 auto;
    font-family: var(--ff-primary);
    text-align: center;
    align-content: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.startBtn,
#hello__btn--choiceA,
#hello__btn--choiceB,
#hello__btn--choiceC,
#hello__btn--choiceD,
#hello__btn--choiceE,
#hello__btn--choiceF,
#hello__btn--choiceG,
#hello__btn--choiceH {
    margin: 1em;
    background-color: var(--pastelindigo);
    background: transparent linear-gradient(270deg, #9797fa 0%, #D8A8FA, #D4B4F4 100%) 0% 0% no-repeat padding-box; 
    border-radius: 7px;
    font-family: inherit;
}

h1 {
    margin-top: 1em;
}

p {
    margin-bottom: 1.5em;
    padding: 1.2em;
    /*border: 2px solid red;*/
}
.hero__p {
    margin-bottom: 1.5em;
    padding: 1.2em;
    /*border: 2px solid goldenrod;*/
}

input {
    font-family: inherit;
    margin-bottom: 1.5em;
    background-color: var(--cornflower);
    background: transparent linear-gradient(270deg, #9797fa 0%, #D8A8FA, #D4B4F4 100%) 0% 0% no-repeat padding-box; 
}